h1 {
    text-align: center;
    font-size: 400%;
    font-family: 'Rock Salt', cursive;
}

body {
    background-image: url("background.html")
}

#tag {
    text-align: center;
    font-size: 150%;
    font-family: 'Shadows Into Light', cursive;
}

td {
    text-align: center;
    font-size: 150%;
    font-family: 'Shadows Into Light', cursive;
}

input {
    text-align: center;
}
