h1 {
    text-align: center;
    font-size: 400%;
    font-family: 'Shadows Into Light', cursive;
}

#tag {
    text-align: center;
    font-size: 150%;
    font-family: 'Shadows Into Light', cursive;
}

td {
    text-align: center;
    font-size: 150%;
    font-family: 'Shadows Into Light', cursive;
}

input {
    text-align: center;
}
